###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
*.swl
err.html
*test*
.DS_Store
notities.txt
*.swp

#node
node_modules
package-lock.json
package.json

create/*_token
puppeteer/
*/*_token

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
